@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html, body {
  height: auto;
  min-height: 100vh;
  margin: 0;
  /* overflow-y: hidden; */
  padding: 0;
  background-color: '#241f1f';
  @media screen and (min-width: 768px) {
    height: 100vh;
  }
}
